/* Empty. Add your own CSS if you like */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: "Balloon";
    src: url('../fonts/Balloon.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-attachment:fixed;
    font-family: 'Balloon', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    background-color: black;
}

a {
    color: darkslategrey;
    font-weight: bold;
    background-color: azure;
}
a:-webkit-any-link {
    text-emphasis: none;
}

a.closed-exit {
    background-color: lightsalmon;
    text-decoration: line-through;
}

.row-wrap {
    flex-wrap: wrap;
}
/* -------- UI  info START-----------*/
.row + .row {
    margin-top: -15px;
}
.row {
    padding: 0;
}
.list {
    margin-bottom: 0;
}
.list .item h2 {
    color: white;
}
.map img {
    width: 100%;
}
.information {
    //background-color: rgba(50, 200, 50, 0.25);
    margin-bottom: 5px;
}
.time, .life {
    padding-bottom: 0;
    padding-top: 5px;
}
.time .item, .life .item, .objects .item {
    border-style: none;
    background-color: transparent;
}
.time h2, .life h2 {
    font-family: 'Balloon', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.5em;
}
.habilities {
    padding-top: 5px;
    margin-left: -10px;
}
.habilities .button {
    margin: 1px;
}
.objects {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

/* -------- texts START-----------*/
#passage {
    
}

#passage p {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 10px;
    padding: 1.5em;
    margin: 0.5em;
    background-size: cover;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.75);
}

.border1 {
    background-image: url(../img/border1.jpg);
}
.border2 {
    background-image: url(../img/border2.jpg);
}
.border3 {
    background-image: url(../img/border3.jpg);
}
.border4 {
    background-image: url(../img/border4.jpg);
}
.border5 {
    background-image: url(../img/border5.jpg);
}

/* -------- intro START-----------*/
#cover {
    
}
#title {
    color: white;
    font-size: 4em;
    line-height: 1.5em;
    padding-top: 100px;
    margin-top: -2.5em;
}
#credits {
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    padding-top: 100px;
    margin-top: -2.5em;
    display: none;
}
.coverImage {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(../img/portadaCA.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.backgroundImage {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(../img/fondoPortadaCAdegradado.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* -------- map/hero START-----------*/
#hero {
    position: absolute;
    float: left;
    display: none;
}

/* -------- modal START-----------*/
#modalClock {
    opacity: 0.65;
}
#modalObject {
    opacity: 0.85;
}
.modal .title {
    font-family: 'Balloon', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
.card {
    box-shadow: none
}
@keyframes blink {  
    0% { color: red; }
    100% { color: white; }
}
@-webkit-keyframes blink {
    0% { color: red; }
    100% { color: white; }
}
.blink {
    -webkit-animation: blink 0.25s linear infinite;
    -moz-animation: blink 0,25s linear infinite;
    animation: blink 0.25s linear infinite;
} 
.vertical-center {
    margin-top: 50%;
}