<ion-content scroll="false" id="background">
    <div class="row row-wrap">
        <div class="col map" style="display:none;">
            <img src="img/down_floor_720.png" id="down_map" class="map-image"/>
        </div>
    </div>
    <div class="row row-wrap information" style="display:none;">
        <div class="col-40">
            <div class="row list time">
                <div class="item item-avatar" id="timeIndicator">
                    <img src="img/hourglass-icon.png"><h2>15</h2>
                </div>
            </div>
            <div class="row list life">
                <div class="item item-avatar" id="lifeIndicator">
                    <img src="img/heart-icon.png"><h2>5</h2>
                </div>
            </div>
        </div>
        <div class="col-60">
            <div class="button-bar row row-wrap habilities">
               <a class="button button-small button-positive" id="hab_1">1</a>
               <a class="button button-small button-positive" id="hab_2">2</a>
               <a class="button button-small button-positive" id="hab_3">3</a>
               <a class="button button-small button-positive" id="hab_4">4</a>
               <a class="button button-small button-positive" id="hab_5">5</a>
               <a class="button button-small button-positive" id="hab_6">6</a>
               <a class="button button-small button-positive" id="hab_7">7</a>
               <a class="button button-small button-positive" id="hab_8">8</a>
               <a class="button button-small button-positive" id="hab_9">9</a>
               <a class="button button-small button-positive" id="hab_10">10</a>
            </div>
            <div class="row row-wrap objects"></div>
        </div>
    </div>
    <div class="row row-wrap">
        <div class="col" id="passage">                
            
        </div>
    </div>
    
    <div style="text-align: center;padding-top: 75%;margin-top: -100px;" id="cover">
        <img id="logo" src="../img/carpenterSoft_logo_200.gif">
    </div>
    
    <tw-storydata name="La cuenta atrás" startnode="1" creator="Twine" creator-version="2.0.10" ifid="D1363650-EE8A-4A4C-AE42-C5D1FCB43F63" format="Snowman" options="" hidden></tw-storydata>
</ion-content>