<ion-content scroll="false" class="backgroundImage">
    <div class="row row-wrap">
        <div class="col map" style="display:none;">
            <img src="img/down_floor_720.png" id="down_map" class="map-image"/>
        </div>
    </div>
    <div class="row row-wrap information" style="display:none;">
        <div class="col-40">
            <div class="row list time">
                <div class="item item-avatar" id="timeIndicator">
                    <img src="img/hourglass-icon.png"><h2>15</h2>
                </div>
            </div>
            <div class="row list life">
                <div class="item item-avatar" id="lifeIndicator">
                    <img src="img/heart-icon.png"><h2>5</h2>
                </div>
            </div>
        </div>
        <div class="col-60">
            <div class="button-bar row row-wrap habilities">
                <a class="button button-small button-positive">1</a>
                <a class="button button-small button-positive">2</a>
                <a class="button button-small button-positive">3</a>
                <a class="button button-small button-positive">4</a>
                <a class="button button-small button-positive">5</a>
                <a class="button button-small button-positive">6</a>
                <a class="button button-small button-positive">7</a>
                <a class="button button-small button-positive">8</a>
                <a class="button button-small button-positive">9</a>
                <a class="button button-small button-positive">10</a>
            </div>
            <div class="row row-wrap objects">
                <div class="item item-image"><img src="img/c.png"></div>
                <div class="item item-image"><img src="img/e.png"></div>
                <div class="item item-image"><img src="img/f.png"></div>
                <div class="item item-image"><img src="img/p.png"></div>
                <div class="item item-image"><img src="img/s.png"></div>
                <div class="item item-image"><img src="img/t.png"></div>
                <div class="item item-image"><img src="img/z.png"></div>
            </div>
        </div>
    </div>
    <div class="row row-wrap">
        <div class="col" id="passage">                
            
        </div>
    </div>
    
    <tw-storydata name="La cuenta atrás" startnode="13" creator="Twine" creator-version="2.0.10" ifid="D1363650-EE8A-4A4C-AE42-C5D1FCB43F63" format="Snowman" options="" hidden></tw-storydata>
</ion-content>