<ion-modal-view id="modalObject">
    <ion-header-bar align-title="center">
        <h1 class="title" id="objTitle">Título</h1>
        <button class="button button-icon ion-ios-close-empty" ng-click="closeModalObject()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-image">
                <img id="objContainer">
            </div>
            <div class="item item-text-wrap" id="objDesc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas nam explicabo dolores doloribus, rem vitae fugit. Id culpa totam odit quibusdam ab deleniti eaque et, cumque magni repellendus consequuntur distinctio.
            </div>
        </div>
    </ion-content>
</ion-modal-view>