<ion-modal-view id="modalMistery">
    <ion-header-bar align-title="center">
        <div class="buttons">
            <h1 class="title">Resuelve el misterio</h1>
            <button class="button button-icon ion-ios-close-empty" id="close-button"></button>
        </div>
    </ion-header-bar>
    <ion-content class="vertical-center">
        <div class="row">
            <div class="col" id="letterSelection">
                <div class="button-bar">
                    <a class="button button-small button-outline button-positive" id="btn1">a</a>
                    <a class="button button-small button-outline button-positive" id="btn2">b</a>
                    <a class="button button-small button-outline button-positive" id="btn3">x</a>
                    <a class="button button-small button-outline button-positive" id="btn4">d</a>
                    <a class="button button-small button-outline button-positive" id="btn5">j</a>
                    <a class="button button-small button-outline button-positive" id="btn5">i</a>
                </div>
            </div>
        </div>
        <div class="row" id="solution">
            <div class="col-50" id='solution-text'>caracola</div>
            <div class="col-50" id='solution-number'>99</div>
        </div>
    </ion-content>
</ion-modal-view>